*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #d1d1d1;
    padding: 1em;
}

a{
    padding: 1em;
}

body {
    background-color: rgb(230, 230, 255);
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

table{
    margin: 0 auto;
}

th, td{
    padding: 15px;
    margin: 0;
    text-align: left;
}

tr:nth-child(odd) {background-color: #d1d1d1;}
tr:nth-child(even) {background-color: #f2f2f2;}


