head
    title MathiasSiltnSchool
    link(rel="stylesheet" href="/style/style.css")

    body
        header
            a(href='/') Home
            a(href='/children') Children
            a(href='/classes') Classes
            a(href='/teachers') Teachers
            a(href='/parents') Parents
            a(href='/families') Families
            a(href='/admin') Hidden admin pages

