doctype html
html
    include head.pug
    head
        title Index
    body 
        section.section
            div.container
                h1.title School Website Index
                p Welcome to the school website! Use the header to navigate the page.

                footer.footer
                div.content.has-text-centered
                    p &copy; 2024 Siltn en Mathias super cool project :). All rights reserved.

                
