doctype html
html
    include head.pug
    head
        title Parents List
    body
        h1 List of Parents
        table
            thead
                tr
                    th ID
                    th Name
                    th Age
                    th Family Id
            tbody
                each parent in parents
                    tr
                        td= parent.id
                        td= parent.name
                        td= parent.age
                            if parent.family
                                td= parent.family.id
                            else
                                td this Parent isn't part of a family yet